@model Examen_Final_Progra06_Interfaz.Models.mDepartments

@{
    ViewData["Title"] = "eliminaDepartamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elimina Departamento</h1>

<h3>Estas segur(a) que quieres eliminar?</h3>
<div>
    <h4>mDepartments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
    
    <form asp-action="delDepartamento">
        @Html.HiddenFor(model =>model.DepartmentId)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="obtenerDepartamentos">Regresar</a>
    </form>
</div>
